    {{> header}}
<!-- BEGIN: Content -->
        <div class="content">
                <h2 class="intro-y text-lg font-medium mt-10">{{pageName}}</h2>
        <div class="grid grid-cols-12 gap-6 mt-5">
        <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2">
            <button class="btn btn-primary shadow-md mr-2" onclick="add()"><i data-lucide="plus" class="w-4 h-4 mr-2"></i>Add service</button>
            <form class="w-full xl:w-auto flex items-center mt-3 xl:mt-0" id="filter-form" action="/admin/service/index" method="get">
                    <select id="parentVendor" class="form-select box ml-2" name="vendor">
                        <option value="all" {{#ifCond searchByVendor '===' ""}} selected {{/ifCond}}>All vendors</option>
                        {{#each vendors}}
                        <option value="{{this.email}}" {{#ifCond ../searchByVendor '===' this.email}} selected {{/ifCond}}>{{this.firstName}} {{this.lastName}} ({{this.email}})</option>
                        {{/each}}
                    </select>
                    <select id="parentCategory" class="form-select box ml-2" name="category">
                        <option value="all" {{#ifCond searchByCategory '===' ""}} selected {{/ifCond}}>All category</option>
                        {{#each categories}}
                        <option value="{{this.name}}" {{#ifCond ../searchByCategory '===' this.name}} selected {{/ifCond}}>{{this.name}}</option>
                        {{/each}}
                    </select>
                    <select id="searchStatus" class="form-select box ml-2" name="status">
                        <option value="all" {{#ifCond searchByStatus '===' ""}} selected {{/ifCond}}>All status</option>
                        <option {{#ifCond searchByStatus '===' "Accepted"}} selected {{/ifCond}} value="Accepted">Accepted</option>
                        <option {{#ifCond searchByStatus '===' "Rejected"}} selected {{/ifCond}} value="Rejected">Rejected</option>
                        <option {{#ifCond searchByStatus '===' "Pending"}} selected {{/ifCond}} value="Pending">Pending</option>
                    </select>
            </form>
            <div class="hidden md:block mx-auto text-slate-500">Page {{currentPage}} - Showing {{data.length}} of {{total}} entries</div>
            <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
                <div class="w-56 relative text-slate-500">
                    <input type="text" class="form-control w-56 box pr-10" placeholder="Search...">
                    <i class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" data-lucide="search"></i>
                </div>
            </div>
        </div>
        <!-- BEGIN: Data List -->
        <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
            <table class="table table-report -mt-2">
                <thead>
                    <tr>
                        <th class="whitespace-nowrap">Picture</th>
                        <th class="whitespace-nowrap">Title</th>
                        <th class="whitespace-nowrap">Price</th>
                        <th class="whitespace-nowrap">Equipment</th>
                        <th class="whitespace-nowrap">Cancel Policy</th>
                        <th class="whitespace-nowrap">Status</th>
                        <th class="text-center whitespace-nowrap">ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr class="intro-x">
                        
                        <td class="w-40">
                            <div class="flex">
                                {{#each this.medias}}
                                <div class="w-10 h-10 image-fit zoom-in">
                                    <img alt="" class="rounded-full" src="{{this.mediaPath}}" title=""> 
                                </div>
                                {{/each}}
                            </div>
                        </td>
                        <td>
                            <a href="/admin/service/edit/{{this.id}}" class="font-medium whitespace-nowrap">{{this.serviceTitle}}</a><br/>
                            Vendor: <a href="/admin/service/edit/{{this.id}}" class="font-medium whitespace-nowrap">{{this.parentVendor}}</a><br/>
                            Category: <a href="/admin/service/edit/{{this.id}}" class="font-medium whitespace-nowrap">{{this.parentCategory}}</a><br/>
                            <a target="_blank" class="flex items-center text-danger deleteRecord" href="https://www.google.com/maps?q={{this.location.latitude}},{{this.location.longitude}}" title="{{this.location.address}}">
                                <i data-lucide="map-pin" class="w-4 h-4 mr-1"></i> View on Maps
                            </a>
                        </td>
                        <td>
                            $ {{this.price}}/ {{this.priceType}}
                        </td>
                        <td class="w-40">
                            <div class="flex items-center justify-center {{#ifCond this.equipment '==' true}} text-success {{else}} text-danger{{/ifCond}}">
                                <i data-lucide="check-square" class="w-4 h-4 mr-2"></i> {{#ifCond this.equipment '==' true}} Yes {{else}} No{{/ifCond}}
                            </div>
                        </td>
                        
                        <td>
                            {{this.cancelPolicy}}
                        </td>
                        <td class="w-40">
                            <form class="w-full xl:w-auto flex items-center mt-3 xl:mt-0" id="status-form" action="/admin/service/index/approve" method="POST">
                            <select id="status" class="form-select" data-id="{{this.id}}">
                                <option {{#ifCond this.status '===' "Accepted"}} selected {{/ifCond}} value="Accepted">Accepted</option>
                                <option {{#ifCond this.status '===' "Rejected"}} selected {{/ifCond}} value="Rejected">Rejected</option>
                                <option {{#ifCond this.status '===' "Pending"}} selected {{/ifCond}} value="Pending">Pending</option>
                            </select>
                            <input type="hidden" name="serviceId" id="serviceIdInput" value="">
                            <input type="hidden" name="status" id="statusInput" value="">
                            </form>
                        </td>
                        <td class="table-report__action w-56">
                            <div class="flex justify-center items-center">
                                <a class="flex items-center mr-3" href="/admin/service/edit/{{this.id}}">
                                    <i data-lucide="check-square" class="w-4 h-4 mr-1"></i> Edit
                                </a>
                                <a class="flex items-center text-danger deleteRecord" href="javascript:;" data-tw-toggle="modal" data-id="{{this.id}}" data-tw-target="#delete-confirmation-modal">
                                    <i data-lucide="trash-2" class="w-4 h-4 mr-1"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <!-- END: Data List -->
        <!-- BEGIN: Pagination -->
        <div class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-nowrap items-center">
            <nav class="w-full sm:w-auto sm:mr-auto">
                <ul class="pagination">
                    {{#ifCond currentPage '!==' 1}}
                    <li class="page-item">
                        <a class="page-link" href="/admin/service/index">
                            <i class="w-4 h-4" data-lucide="chevrons-left"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/admin/service/index?page={{prevPage}}">
                            <i class="w-4 h-4" data-lucide="chevron-left"></i>
                        </a>
                    </li>
                    {{/ifCond}}

                    {{#ifCond pages '>' 1}}
                        {{#times pages}}
                            <li class="page-item">
                                <a class="page-link" href="/admin/service/index?page={{this}}">{{this}}</a>
                            </li>
                        {{/times}}
                    {{/ifCond}}

                    {{#ifCond pages '!==' currentPage}}
                    <li class="page-item">
                        <a class="page-link" href="/admin/service/index?page={{nextPage}}">
                            <i class="w-4 h-4" data-lucide="chevron-right"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/admin/service/index?page={{pages}}">
                            <i class="w-4 h-4" data-lucide="chevrons-right"></i>
                        </a>
                    </li>
                    {{/ifCond}}
                    
                </ul>
            </nav>
        </div>
        <!-- END: Pagination -->
    </div>
    <!-- BEGIN: Delete Confirmation Modal -->
    <div id="delete-confirmation-modal" class="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <form id="delete-form" action="/admin/service/index/delete" method="POST">
                <div class="modal-body p-0">
                <div class="p-5 text-center">
                    <i data-lucide="x-circle" class="w-16 h-16 text-danger mx-auto mt-3"></i>
                    <div class="text-3xl mt-5">Are you sure?</div>
                    <div class="text-slate-500 mt-2">Do you really want to delete this service? <br>This process cannot be undone.</div>
                </div>
                <div class="px-5 pb-8 text-center">
                    <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">Cancel</button>
                    <button type="submit" class="btn btn-danger w-24">Delete</button>
                </div>
                <input type="hidden" name="adminId" id="adminIdInput">
                </div>
            </form>
            </div>
        </div>
    </div>
    <div id="approve-confirmation-modal" class="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <form id="delete-form" action="/admin/service/index/approve" method="POST">
                <div class="modal-body p-0">
                <div class="p-5 text-center">
                    <i data-lucide="x-circle" class="w-16 h-16 text-danger mx-auto mt-3"></i>
                    <div class="text-3xl mt-5">Are you sure?</div>
                    <div class="text-slate-500 mt-2">Do you want to approve this service?</div>
                </div>
                <div class="px-5 pb-8 text-center">
                    <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">Cancel</button>
                    <button type="submit" class="btn btn-danger w-24">Yes</button>
                </div>
                <input type="hidden" name="serviceId" id="serviceIdInput">
                </div>
            </form>
            </div>
        </div>
    </div>
    <!-- END: Delete Confirmation Modal -->
        </div>
        <!-- END: Content -->
        <script>
            function add() {
                window.location.href = "/admin/service/add";
            }

            document.querySelectorAll('.deleteRecord').forEach((deleteBtn) => {
                deleteBtn.addEventListener('click', () => {
                    const adminId = deleteBtn.dataset.id;
                    document.getElementById('adminIdInput').value = adminId;
                });
            });

            document.querySelectorAll('.approveService').forEach((deleteBtn) => {
                deleteBtn.addEventListener('click', () => {
                    const serviceId = deleteBtn.dataset.id;
                    document.getElementById('serviceIdInput').value = serviceId;
                });
            });




           
            document.addEventListener('DOMContentLoaded', function() {
                var form = document.querySelector('#filter-form');
               
                var selectElementvendor = document.querySelector('#parentVendor');
                var selectElementCat = document.querySelector('#parentCategory');
                var selectElementStatus = document.querySelector('#searchStatus');
              
                selectElementvendor.addEventListener('change', function(event) {
                    var selectedValueVendor = selectElementvendor.value;
                    var selectedValueCat = selectElementCat.value;
                    var url = form.getAttribute('action') + '?vendor=' + encodeURIComponent(selectedValueVendor) + '?category=' + encodeURIComponent(selectedValueCat);
                    form.setAttribute('action', url);
                    form.submit();
                });

                selectElementCat.addEventListener('change', function(event) {
                    var selectedValueVendor = selectElementvendor.value;
                    var selectedValueCat = selectElementCat.value;
                    var url = form.getAttribute('action') + '?vendor=' + encodeURIComponent(selectedValueVendor) + '?category=' + encodeURIComponent(selectedValueCat);
                    form.setAttribute('action', url);
                    form.submit();
                });

                selectElementStatus.addEventListener('change', function(event) {
                    var selectedValueStatus = selectElementStatus.value;
                    var url = form.getAttribute('action') + '?status=' + encodeURIComponent(selectedValueStatus);
                    form.setAttribute('action', url);
                    form.submit();
                });

                var statusform = document.querySelector('#status-form');

                document.querySelectorAll('#status').forEach((statusBtn) => {
                    statusBtn.addEventListener('change', () => {
                        const serviceId = statusBtn.dataset.id;
                        var status = statusBtn.value;
                        document.getElementById('serviceIdInput').value = serviceId;
                        document.getElementById('statusInput').value = status;
                        statusform.submit();
                    });
                });
            });
        </script>

        {{> footer}}
      