    {{> header}}
        <!-- BEGIN: Content -->
        <div class="content">
            <div class="intro-y flex items-center mt-8">
                <h2 class="text-lg font-medium mr-auto">{{pageName}}</h2>
            </div>
            <div class="grid grid-cols-11 gap-x-6 mt-5 pb-20">
                <div class="intro-y col-span-11 2xl:col-span-9">
                    <form id="edit-form" action="/admin/booking/edit" method="POST">
                    <!-- BEGIN: Product Information -->
                    <div class="intro-y box p-5 mt-5">
                        <div class="border border-slate-200/60 dark:border-darkmode-400 rounded-md p-5">
                            <div class="font-medium text-base flex items-center border-b border-slate-200/60 dark:border-darkmode-400 pb-5">
                                <i data-lucide="chevron-down" class="w-4 h-4 mr-2"></i> Information
                            </div>
                            <div class="mt-5">
                                <div class="form-inline items-start flex-col xl:flex-row mt-5 pt-5 first:mt-0 first:pt-0">
                                    <div class="form-label xl:w-64 xl:!mr-10">
                                        <div class="text-left">
                                            <div class="flex items-center">
                                                <div class="font-medium">Service name</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-full mt-3 xl:mt-0 flex-1">
                                        <input id="serviceTitle" name="serviceTitle" type="text" class="form-control" placeholder="Name of booking" value="{{data.service.serviceTitle}}">
                                    </div>
                                </div>
                                
                                <div class="form-inline items-start flex-col xl:flex-row mt-5 pt-5 first:mt-0 first:pt-0">
                                    <div class="form-label xl:w-64 xl:!mr-10">
                                        <div class="text-left">
                                            <div class="flex items-center">
                                                <div class="font-medium">Date</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-full mt-3 xl:mt-0 flex-1">
                                        <input id="date" name="date" type="text" class="form-control" placeholder="Booking date" value="{{data.booking.date}}">
                                    </div>
                                </div>

                                <div class="form-inline items-start flex-col xl:flex-row mt-5 pt-5 first:mt-0 first:pt-0">
                                    <div class="form-label xl:w-64 xl:!mr-10">
                                        <div class="text-left">
                                            <div class="flex items-center">
                                                <div class="font-medium">Status</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-full mt-3 xl:mt-0 flex-1">
                                        <select id="booking" class="form-select" name="status">
                                            <option {{#ifCond data.booking.status '===' "New"}} selected {{/ifCond}} value="New">New</option>
                                            <option {{#ifCond data.booking.status '===' "Pending"}} selected {{/ifCond}} value="Pending">Pending</option>
                                            <option {{#ifCond data.booking.status '===' "In progress"}} selected {{/ifCond}} value="In progress">In progress</option>
                                            <option {{#ifCond data.booking.status '===' "Completed"}} selected {{/ifCond}} value="Completed">Completed</option>
                                            <option {{#ifCond data.booking.status '===' "Cancel"}} selected {{/ifCond}} value="Cancel">Cancel</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-inline items-start flex-col xl:flex-row mt-5 pt-5 first:mt-0 first:pt-0">
                                    <div class="form-label xl:w-64 xl:!mr-10">
                                        <div class="text-left">
                                            <div class="flex items-center">
                                                <div class="font-medium">Client</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-full mt-3 xl:mt-0 flex-1">
                                        <select id="booking" class="form-select" name="clientEmailAddress">
                                            <option value="">--No parent client--</option>
                                            {{#each clients}}
                                            <option {{#ifCond ../data.booking.clientEmailAddress '===' this.email}} selected {{/ifCond}} value="{{this.email}}">{{this.firstName}} {{this.lastName}} ({{this.email}})</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-inline items-start flex-col xl:flex-row mt-5 pt-5 first:mt-0 first:pt-0">
                                    <div class="form-label xl:w-64 xl:!mr-10">
                                        <div class="text-left">
                                            <div class="flex items-center">
                                                <div class="font-medium">Vendor</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-full mt-3 xl:mt-0 flex-1">
                                        <select id="booking" class="form-select" name="vendorEmailAddress">
                                            <option value="">--No parent vendor--</option>
                                            {{#each vendors}}
                                            <option {{#ifCond ../data.booking.vendorEmailAddress '===' this.email}} selected {{/ifCond}} value="{{this.email}}">{{this.firstName}} {{this.lastName}} ({{this.email}})</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- END: Product Information -->
                    
                    <div class="flex justify-end flex-col md:flex-row gap-2 mt-5">
                        <span id="password-error" style="color: red;"></span>
                        <input id="id" type="hidden" name="id" value="{{bookingId}}">
                        <button type="button" onclick="cancel()" class="btn py-3 border-slate-300 dark:border-darkmode-400 text-slate-500 w-full md:w-52">Cancel</button>
                        <button type="submit" class="btn py-3 btn-primary w-full md:w-52">Save</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- END: Content -->
        <script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
        <script>
            const changeStatusBtn = document.getElementById('item-status-active');
            changeStatusBtn.addEventListener('click', function() {
                if(this.checked) {
                    document.getElementById('status-text').textContent = "Active";
                } else {
                    document.getElementById('status-text').textContent = "Inactive";
                }
            });

            function cancel() {
                window.location.href = "/admin/booking/index";
            }
            var editor = CKEDITOR.replace('description');
            editor.setData(booking.description);

            const changePhotoBtn = document.getElementById('change-photo-btn');
            const fileInput = document.getElementById('file');
            const avatarImg = document.getElementById('picture');

            changePhotoBtn.addEventListener('click', () => {
                fileInput.click();
            });

            fileInput.addEventListener('change', () => {
                const file = fileInput.files[0];
                const reader = new FileReader();
                reader.onload = () => {
                    avatarImg.src = reader.result;
                };
                reader.readAsDataURL(file);
            });
        </script>
    {{> footer}}
      