    {{> header}}
<!-- BEGIN: Content -->
        <div class="content">
            
            <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
                <h2 class="text-lg font-medium mr-auto">Invoice</h2>
                <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
                    <button class="export-pdf-btn btn btn-primary shadow-md mr-2" onclick="exportPDF('{{bookingId}}')">Export PDF</button>
                </div>
            </div>
            <ul class="nav nav-tabs" role="tablist">
                <li id="example-1-tab" class="nav-item flex-1" role="presentation">
                    <button class="nav-link w-full py-2 active" data-tw-toggle="pill" data-tw-target="#example-tab-1" type="button" role="tab" aria-controls="example-tab-1" aria-selected="true">
                        CLIENT INVOICE
                    </button>
                </li>
                <li id="example-2-tab" class="nav-item flex-1" role="presentation">
                    <button class="nav-link w-full py-2" data-tw-toggle="pill" data-tw-target="#example-tab-2" type="button" role="tab" aria-controls="example-tab-2" aria-selected="false">
                    VENDOR INVOICE
                    </button>
                </li>
            </ul>
            <div class="tab-content border-l border-r border-b">
                <div id="example-tab-1" class="tab-pane leading-relaxed p-5 active" role="tabpanel" aria-labelledby="example-1-tab">
                    <div id="invoice" emclass="intro-y box overflow-hidden mt-5">
                        <div class="flex flex-col lg:flex-row pt-10 px-5 sm:px-20 sm:pt-20 lg:pb-20 text-center sm:text-left">
                        <div class="font-semibold text-primary text-3xl">INVOICE #{{data.service.serviceId}}</div>
                        </div>
                        <div class="flex flex-col lg:flex-row border-b px-5 sm:px-20 pt-10 pb-10 sm:pb-20 text-center sm:text-left">
                        <div>
                            <div class="text-base text-slate-500">Client Details</div>
                            <div class="text-lg font-medium text-primary mt-2">{{data.client.firstName}} {{data.client.firstName}}</div>
                            <div class="mt-1">{{data.client.email}}</div>
                        </div>
                        </div>
                        <div class="px-5 sm:px-16 py-10 sm:py-20">
                        <div class="overflow-x-auto">
                            <table class="table">
                            <thead>
                                <tr>
                                    <th class="border-b-2 dark:border-darkmode-400 whitespace-nowrap">DESCRIPTION</th>
                                    <th class="border-b-2 dark:border-darkmode-400 text-right whitespace-nowrap">PRICE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="border-b dark:border-darkmode-400">
                                        <div class="font-medium whitespace-nowrap">{{data.service.serviceTitle}}</div>
                                        <div class="text-slate-500 text-sm mt-0.5 whitespace-nowrap">Location for service: {{data.address.address}}</div>
                                    </td>
                                    <td class="text-right border-b dark:border-darkmode-400 w-32">${{data.service.price}}</td>
                                </tr>
                                {{!-- <tr>
                                    <td class="border-b dark:border-darkmode-400">
                                        <div class="font-medium whitespace-nowrap">Delivery</div>
                                    </td>
                                    <td class="text-right border-b dark:border-darkmode-400 w-32">$0.0</td>
                                </tr> --}}
                                <tr>
                                    <td class="border-b dark:border-darkmode-400">
                                        <div class="font-medium whitespace-nowrap">Discount</div>
                                    </td>
                                    <td class="text-right border-b dark:border-darkmode-400 w-32">CAD$ 0.0</td>
                                </tr>
                                <tr>
                                    <td class="text-right border-b dark:border-darkmode-400">
                                        <div class="font-medium whitespace-nowrap">TOTAL</div>
                                    </td>
                                    <td class="text-right text-xl text-primary font-medium mt-2">CAD$ {{totalClient}}</td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
                <div id="example-tab-2" class="tab-pane leading-relaxed p-5" role="tabpanel" aria-labelledby="example-2-tab">
                    <div id="invoice" emclass="intro-y box overflow-hidden mt-5">
                        <div class="flex flex-col lg:flex-row pt-10 px-5 sm:px-20 sm:pt-20 lg:pb-20 text-center sm:text-left">
                        <div class="font-semibold text-primary text-3xl">INVOICE #{{data.service.serviceId}}</div>
                        </div>
                        <div class="flex flex-col lg:flex-row border-b px-5 sm:px-20 pt-10 pb-10 sm:pb-20 text-center sm:text-left">
                        <div>
                            <div class="text-base text-slate-500">Vendor details</div>
                            <div class="text-lg font-medium text-primary mt-2">{{data.vendor.firstName}} {{data.vendor.firstName}}</div>
                            <div class="mt-1">{{data.vendor.email}}</div>
                        </div>
                        </div>
                        <div class="px-5 sm:px-16 py-10 sm:py-20">
                        <div class="overflow-x-auto">
                            <table class="table">
                            <thead>
                                <tr>
                                    <th class="border-b-2 dark:border-darkmode-400 whitespace-nowrap">DESCRIPTION</th>
                                    <th class="border-b-2 dark:border-darkmode-400 text-right whitespace-nowrap">PRICE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="border-b dark:border-darkmode-400">
                                        <div class="font-medium whitespace-nowrap">{{data.service.serviceTitle}}</div>
                                        <div class="text-slate-500 text-sm mt-0.5 whitespace-nowrap">Location for service: {{data.address.address}}</div>
                                    </td>
                                    <td class="text-right border-b dark:border-darkmode-400 w-32">CAD$ {{data.service.price}}</td>
                                </tr>
                                {{!-- <tr>
                                    <td class="border-b dark:border-darkmode-400">
                                        <div class="font-medium whitespace-nowrap">Delivery</div>
                                    </td>
                                    <td class="text-right border-b dark:border-darkmode-400 w-32">$0.0</td>
                                </tr> --}}
                                <tr>
                                    <td class="border-b dark:border-darkmode-400">
                                        <div class="font-medium whitespace-nowrap">Discount</div>
                                    </td>
                                    <td class="text-right border-b dark:border-darkmode-400 w-32">CAD$ 0.0</td>
                                </tr>
                                <tr>
                                    <td class="border-b dark:border-darkmode-400">
                                        <div class="font-medium whitespace-nowrap">Application fee (10%)</div>
                                    </td>
                                    <td class="text-right border-b dark:border-darkmode-400 w-32">CAD$ {{applicationFee}}</td>
                                </tr>
                                <tr>
                                    <td class="text-right border-b dark:border-darkmode-400">
                                        <div class="font-medium whitespace-nowrap">TOTAL</div>
                                    </td>
                                    <td class="text-right text-xl text-primary font-medium mt-2">CAD$ {{totalVendor}}</td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- END: Content -->
        <script>
            async function exportPDF(bookingId) {
                // Disable the export button
                const exportButton = document.querySelector('.export-pdf-btn');
                exportButton.disabled = true;

                const url = `/admin/api/invoice/export/${bookingId}`;
                window.location.href = url;
            }
        </script>
        {{> footer}}
      